<div class="nav-card-grid">
  <mdc-card class="nav-card" (click)="onNavCardSelect('general-settings')">
    <mdc-card-primary-action >
      <img src="../../../assets/Icon%20-%2056x40%20-%20General%20Settings.svg" alt="">
      <h2 mdcHeadline6>General</h2>
      <h3 mdcSubtitle2>Set basic app configurations.</h3>
    </mdc-card-primary-action>
  </mdc-card>
  <mdc-card class="nav-card" (click)="onNavCardSelect('roles')">
    <mdc-card-primary-action>
      <img src="../../../assets/Icon%20-%2056x40%20-%20Roles.svg" alt="">
      <h2 mdcHeadline6>Roles</h2>
      <h3 mdcSubtitle2>Define user roles.</h3>
    </mdc-card-primary-action>
  </mdc-card>
  <mdc-card class="nav-card" (click)="onNavCardSelect('users')">
    <mdc-card-primary-action>
      <img src="../../../assets/Icon%20-%2056x40%20-%20Users.svg" alt="">
      <h2 mdcHeadline6>Users</h2>
      <h3 mdcSubtitle2>Manage users.</h3>
    </mdc-card-primary-action>
  </mdc-card>
  <mdc-card class="nav-card" (click)="onNavCardSelect('forms')">
    <mdc-card-primary-action>
      <img src="../../../assets/Icon%20-%2056x40%20-%20Forms.svg" alt="">
      <h2 mdcHeadline6>Forms</h2>
      <h3 mdcSubtitle2>Review, edit, and create forms.</h3>
    </mdc-card-primary-action>
  </mdc-card>
  <mdc-card class="nav-card" (click)="onNavCardSelect('episodes')">
    <mdc-card-primary-action>
      <img src="../../../assets/Icon%20-%2056x40%20-%20Episodes.svg" alt="">
      <h2 mdcHeadline6>Episodes</h2>
      <h3 mdcSubtitle2>Set up episode work flows.</h3>
    </mdc-card-primary-action>
  </mdc-card>
</div>
