

.router-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.nav-card-grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 16px;
  justify-items: center;
  width: 100%;
  max-width: 1024px;
  margin: auto;
  padding: 32px;
  box-sizing: border-box;

  @media (max-width: 930px) {
    grid-template-columns: repeat(3, auto);
  }
  @media (max-width: 720px) {
    grid-template-columns: repeat(2, auto);
  }
  @media (max-width: 510px) {
    grid-template-columns: repeat(1, auto);
  }
}

.module-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 1fr;
  //grid-template-rows: 150px 200px;
  grid-gap: 16px;
  width: 100%;
  max-width: 1024px;
  height: 100%;
  margin: auto;
  padding: 24px;
  box-sizing: border-box;
}

.module-info {
  grid-column: 1/6;
}

.module-icon {
  vertical-align: bottom;
  margin-left: 8px;
  height: 40px;
}

.title, .subtitle {
  margin: 0;
}

.title {
  display: inline-block;
}



.table-container {
  grid-row: 2;
  grid-column: 1/11;
  background-color: white;
  border: 1px solid $material-color-grey-400;
  border-radius: 2px;
  @include shadow2;
}

tr {
  height: 40px;
  padding: 0 16px;
}


.table-buttons-container {
  grid-row: 2;
  grid-column: 11/13;
}


