<mdc-top-app-bar fixed #topAppBar class="top-app-bar">
  <mdc-top-app-bar-row>
    <mdc-top-app-bar-section align="start" title="Admin settings">
      <button mdcIconButton mdcTopAppBarNavIcon icon="menu" (click)="appDrawer.open = !appDrawer.open"></button>
    </mdc-top-app-bar-section>
  </mdc-top-app-bar-row>
</mdc-top-app-bar>

<mdc-drawer drawer="modal" #appDrawer>
  <mdc-drawer-header title="Admin settings"></mdc-drawer-header>
  <mdc-list-divider></mdc-list-divider>
  <mdc-drawer-content>
    <mdc-list-item *ngFor="let navItem of navigationLinks" (selectionChange)="onDrawerSelect(navItem.route,rla)"
                   [activated]="rla.isActive"
                   routerLinkActive #rla="routerLinkActive"
                   [routerLink]="navItem.route">
      <mdc-list-item-graphic>
        <img [src]="navItem.icon" alt="">
      </mdc-list-item-graphic>
      {{navItem.name}}</mdc-list-item>
  </mdc-drawer-content>
</mdc-drawer>


<div mdcDrawerAppContent mdcTopAppBarFixedAdjust class="router-container">
  <router-outlet></router-outlet>
</div>
