<div class="module-grid">
  <div class="module-info">
    <h4 class="title" mdcHeadline4>Forms</h4><img class="module-icon" src="../../../assets/Icon%20-%2032x24%20-%20Forms.svg" alt="">
    <p class="subtitle" mdcSubtitle2>Review existing forms in the table below. You can copy, edit, or delete them as
      needed.</p>
  </div>
  <button class="button-showcase" mdc-button >Create New Form</button>
  <div class="table-container">
    <table>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
      </tr>
      <tr>
        <td>Peter</td>
        <td>Griffin</td>
      </tr>
      <tr>
        <td>Lois</td>
        <td>Griffin</td>
      </tr>
    </table>
  </div>
  <div class="table-buttons-container">
    <button class="table-button" mdc-button  outlined>Copy</button>
    <button class="table-button" mdc-button  outlined>Edit</button>
    <button class="table-button" mdc-button  outlined>Delete</button>
  </div>

</div>
